body {
  font-family: 'Anuphan', sans-serif; /* กำหนดฟอนต์สำหรับทั้งหน้า */
}

.home-container {
  text-align: center;
  background-color: #ebebeb;
}
.home-logo {
  width: 80%;
  margin-bottom: 0px;
}
.home-header {
  background-color: #f3f6f6;
  color: white;
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  text-align: center;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 42%;
  gap: 5%;
  padding: 20px;
  margin-top: 1%;
  border-radius: 60px;
}

.home-item {
  background-color: #e5eee5;
  padding: 20%;
  border-radius: 40px;
  border: #dad4d4 2px solid;
  font-size: 25px;
  font-weight: bold;
  color: #0c0c0c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home-item:nth-child(1) {
  background-color: #33C0B3; 
}

.home-item:nth-child(2) {
  background-color: #8AC6FF; 
}

.home-item:nth-child(3) {
  background-color: #EFCBD1; 
}

.home-item:nth-child(4) {
  background-color: #f0dd8a;
}

.home-icon-report {
  width: 120px;
  height: 120px;

  margin-bottom: 10px;
  content: center;
}
.home-icon-status {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  content: center;
}
.home-icon-history {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  content: center;
}
.home-icon-contact {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}