.home-container {
  text-align: center;
}

.home-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100%;
  grid-column: 100%;
  gap: 5%;
  padding: 20px;
  margin-top: 10%;
}

.home-item {
  background-color: #fdfffd;
  padding: 20%;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;;
  color: #388E3C;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}