.login-container {
  background-color: #f9f5f5;
  color: #f3e9e9;
  text-align: center;
  padding: 20px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo {
  width: 70%;
  margin-bottom: 0px;
}

.login-box {
  box-sizing: border-box;
  background-color: #33C0B3;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 300px;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.login-title {
  color: #555;
  font-size: 2em;
  margin-bottom: 20px;
}

.login-form input {
  display: block;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border: none;
  border-radius: 20px;
}

.login-button {
  background-color: #6aabc9;
  color: white;
  padding: 10px 40%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 80%;
}

.login-button:hover {
  background-color: #fffa92;
}

.login-footer {
  margin-top: 20px;
  color: #555;
}

.login-footer a {
  color: white;
  text-decoration: underline;
}