.signup-container {
  background-color: #aae0aa;
  color: white;
  text-align: center;
  padding: 20px;
  height: 100%;
}
.signup-logo {
  width: 70%;
  margin-bottom: 0px;
}
.signup-box {
  box-sizing: border-box;
  background-color: #EFCBD1;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:600px;
  height: 400px;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.signup-form input {
  display: block;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border: none;
  border-radius: 20px;
}

.signup-button {
  background-color: #414141;
  color: white;
  padding: 10px 40%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #439047;
}

.signup-footer {
  margin-top: 20px;
}

.signup-footer a {
  color: white;
  text-decoration: underline;
}